.scamducation-widget {
  position: absolute;
  top: 25em;
  right: 1em;
}

.widget-header h2 {
  font-size: 16px;
  color: #333;
}

#start-simulation {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

